/* Pour ne pas allonger le code, nous n'avons pas inclut le code qui permet d'assurer la compatibilité pour tous les navigateurs pour les transitions, les gradient, ... */

/* Import des polices */

@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400";

/* Basic */

/* Définition de la base de la page */

	html {
		box-sizing: border-box;
		scroll-behavior: smooth; /* Les ancres défilent doucement au lieu de s'y rendre driectement */
	}

	body {
		background-image: url("images/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%); /* Gradient background Violet / Rose */
		background-color: #935d8c; /* Si le navigateur ne supporte pas les gradient */
		color: rgba(255, 255, 255, 0.65); /* RBGA : A = Alpha = Transparency */
		font-family: "Source Sans Pro", sans-serif;
		font-size: 17pt;
		font-weight: 300;
		line-height: 1.65;
	}

		@media screen and (max-width: 1680px) { /* Media queries tout au long du code pour rendre le site visible sur des écrans plus petis : changement de taille par exemple */
			body {
				font-size: 14pt;
			}
		}

		@media screen and (max-width: 1280px) {
			body {
				font-size: 12pt;
			}
		}

		@media screen and (max-width: 360px) {
			body {
				font-size: 11pt;
			}
		}

/* Type */

/* Tous les types de base connus qui n'ont pas besoin d'un design particulier, on pourra s'en servir de manière récurrente sans se soucier de leur design */

	a {
		text-decoration: none;
		color: inherit;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	}

	a:hover {
		color: #ffffff;
	}

	p {
		text-align: justify;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
		line-height: 1.5;
		margin: 0 0 0.7em 0;
		letter-spacing: -0.025em;
		color: #ffffff;
	}

	h1 {
		font-size: 2.5em;
		line-height: 1.2;
	}

	h2 {
		font-size: 2em;
	}

	/* Pour utiliser les balises p, h et autres en les centrant (au besoin) */
	#centered { 
		text-align: center;
	}

	/* Les images sont contenus dans une balise a, or elles étaient donc soulignés comme un lien classique, pour remédier à ça nous avons enlevé le soulignement des a, mais au besoin nous avons crée un ID pour rétablir un soulignement en pointillé (pour le style) pour les liens */
	#dotted {
		border-bottom: dotted 1px;
	}

	/* On colle les bordures des table : purement esthétiques */
	table {
		border-collapse: collapse;
	}

	iframe {
		display: block;
		margin: 0 auto;
	}

/* Button */

	.button {
		appearance: none; /* Utilisé pour enlever tous les styles de base qui sont régit par le navigateur, cela nous permet de customiser les éléments concernés comme bon nous semble */
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out; /* Plus plaisant à regarder, comme en général toutes les animations ajoutées dans le code : effet de fade pour le changement de couleur */
		border-radius: 8px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 300;
		line-height: 2.75em;
		min-width: 9.25em;
		text-align: center;
		text-decoration: none;
		box-shadow: inset 0 0 0 1px #dddddd;
	}

	.button:hover {
		background-color: rgba(222, 222, 222, 0.25); /* Les valeurs RBG sont préférables pour les valeurs simples : tons de gris/noir/blanc (car ce sont les mêmes nombres répétés) */
	}

	.button.primary {
		background-color: #8cc9f0;
		color: #ffffff;
		box-shadow: none;
	}
		
	.button.primary:hover {
		background-color: #9acff2;
	}

/* Image */
	
	.image {
		border-radius: 8px;
		border: 0;
		display: inline-block;
	}

		.image img {
			border-radius: 8px;
			display: block;
		}

		.image.iut img { /* Logo de l'iut */
			width: 50%;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			margin: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
				display: inline-block;
				text-align: center;
			}

/* List */

/* Pour le footer */

	dl dt {
		display: block;
		width: 3em;
		margin: 0;
		clear: left;
		float: left;
		font-weight: 400;
		color : rgb(255, 255, 255);
	}

	dl dd {
		margin: 0 0 0.85em 5.5em;
	}

/* Section */

/* Pour séparer les sections : pour chaque ancre on met une section (nous permet de styliser avec des barres entre, des barres après les titres, etc...) */

	section.special {
		text-align: center;
	}

			header.major h2:after {
				display: block;
				content: '';
				width: 3.25em;
				height: 2px;
				margin: 0.7em 0 1em 0;
				border-radius: 2px;
			}

				section.special header.major h2:after {
					margin-left: auto;
					margin-right: auto;
				}

	footer.major {
		margin-top: 2.5em;
		margin-bottom: 1.5em;
	}

	@media screen and (max-width: 736px) {
		header.major h2 {
			font-size: 1.5em;
		}

		footer.major {
			margin-top: 0;
			margin-bottom: 1em;
		}
	}

/* Table */

/* Style des tableaux */

	table td {
		padding: 0.75em 0.75em;
		text-align: center;
	}

	table thead {
		border-bottom: solid 2px;
		border-bottom-color: #dddddd;
	}

	table tfoot {
		border-top: solid 2px;
		border-top-color: #dddddd;
	}

	@media screen and (max-width: 1280px) {
		table img {
			width: 22em;
		}
	}

	@media screen and (max-width: 980px) {
		table img {
			width: 16em;
		}
	}

	@media screen and (max-width: 736px) {
		table img {
			width: 0em; /* On supprime les images du tableau qui ne seront quasiment plus visible si on continue à les réduires */
		}
	}

/* Boxes */

/* Boîtes de couleurs */

	.box {
		display: flex;
		width: 100%;
		margin: 1.9em 0 2em 0;
		padding: 0;
		list-style: none;
		cursor: default;
	}

		.box li {
			flex: 1;
			padding: 2em;
			color: #ffffff;
			text-align: center;
		}

			.box li.style1 {
				background-color: #efa8b0;
			}

			.box li.style2 {
				background-color: #c79cc8;
			}

			.box li.style3 {
				background-color: #a89cc8;
			}

			.box li.style4 {
				background-color: #9bb2e1;
			}

			.box li.style5 {
				background-color: #8cc9f0;
			}

			.box li strong {
				display: block;
				font-size: 1.4em;
				line-height: 1.1;
				color: inherit!important;
				font-weight: 300;
				letter-spacing: -0.025em;
			}

			.box li:first-child { /* Pour arrondir les bordures sur les côtés */
				border-top-left-radius: 8px;
				border-bottom-left-radius: 8px;
			}

			.box li:last-child { /* Pour arrondir les bordures sur les côtés */
				border-top-right-radius: 8px;
				border-bottom-right-radius: 8px;
			}

		@media screen and (max-width: 980px) {
			.box li strong {
				font-size: 1.3em;
			}

		}

		@media screen and (max-width: 940px) {
			.box {
				display: block; /* On l'affiche en colonne pour pourvoir tout visualiser */
				width: 18em;
				max-width: 100%;
				margin: 2em auto 2em auto;
			}

				.box li:first-child { /* Pour arrondir les bordures en haut et en bas (pusique c'est maintenant affiché en colonne) */
					border-bottom-left-radius: 0;
					border-top-right-radius: 8px;
				}

				.box li:last-child { /* Pour arrondir les bordures en haut et en bas */
					border-top-right-radius: 0;
					border-bottom-left-radius: 8px;
				}

				.box li strong {
					font-size: 1.3em;
				}

		}

/* Spotlight */

	.spotlight {
		display: flex;
	}

		.spotlight .image {
			margin-left: 4em;
			padding: 0.65em;
			border: solid 1px;
			border-color: #dddddd;
		}

			.spotlight .image img {
				width: 16em;
			}

	@media screen and (max-width: 980px) {
		.spotlight {
			flex-direction: column-reverse;
			text-align: center;
		}
		
			.spotlight .image {
				margin-left: 0;
				margin-bottom: 2em;
			}

	}

	@media screen and (max-width: 736px) {
			.spotlight .image img {
			width: 12em;
		}

	}

/* Header */

	#header {
		padding: 7em 5em 7em 5em ;
		text-align: center;
	}

		#header h1 {
			margin: 0 0 0.25em 0;
		}

		#header p {
			font-size: 1.25em;
			letter-spacing: -0.025em;
		}

			#header h1 {
				font-size: 3.25em;
			}

			#header .logo {
				display: block;
				margin: 0 0 1.5em 0;
			}

				#header .logo img {
					display: block;
					margin: 0 auto;
					max-width: 7%; /* Le logo est en svg, on le redimensionne sinon ça taille est gigantesque (oublié de le réduire sur photoshop) */
				}

		@media screen and (max-width: 1280px) {
			#header {
				padding: 4em 4em 4em 4em ;
			}
		}

		@media screen and (max-width: 980px) {
			#header {
				padding: 4em 3em 4em 3em ;
			}
		}

		@media screen and (max-width: 736px) {
			#header {
				padding: 3em 2em 3em 2em ;
			}

				#header p {
					font-size: 1em;
				}

					#header p br {
						display: none;
					}

		}

		@media screen and (max-width: 480px) {

			#header {
				padding: 3em 1.5em 3em 1.5em ;
			}
		}

		@media screen and (max-width: 360px) {

			#header {
				padding: 2.5em 1em 2.5em 1em ;
			}
		}

/* Nav */

	@media screen and (max-width: 736px) { /* En dessous de 736px de largeur, on cache la Navigation Bar et on la remplace par un Hambuger Menu en haut à droite : IL N'EST PAS TERMINÉ (voir l'HTML) */

		#nav {
			display: none;
		}

		label .menu {
  			position: absolute;
  			right: -100px;
  			top: -100px;
  			z-index: 1; /* Permet de déterminer quel élément est au dessus : un élément en couvre un autre si son z-index est supérieur */
			width: 200px;
			height: 200px;
			background: #FFF;
			border-radius: 50% 50% 50% 50%;
			transition: 0.5s ease-in-out;
			box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF; /* Simplification de l'écriture HEX pour les couleurs simples : noir = #000 / blanc = #FFF */
			cursor: pointer;
		}

		label .hamburger {
  			position: absolute;
  			top: 135px;
  			left: 50px;
  			width: 30px;
  			height: 2px;
  			background: #000;
  			display: block;
  			transform-origin: center;
  			transition: 0.5s ease-in-out;
		}

		label .hamburger:after, label .hamburger:before {
  			transition: 0.5s ease-in-out;
  			content: ""; /* Sans content, l'élément ne s'affiche pas */
  			position: absolute;
  			display: block;
  			width: 100%;
  			height: 100%;
  			background: #000;
		}

		label .hamburger:before {
  			top: -10px;
		}

		label .hamburger:after {
  			bottom: -10px;
		}

		label input {
  			display: none;
		}

		label input:checked + .menu { /* On se sert d'une checkbox pour pouvoir activer les animations, quand elle est checked, le menu est ouvert */
  			box-shadow: 0 0 0 100vw #FFF, 0 0 0 100vh #FFF;
  			border-radius: 0;
		}

		label input:checked + .menu .hamburger {
  			transform: rotate(45deg);
		}

		label input:checked + .menu .hamburger:after {
  			transform: rotate(90deg);
  			bottom: 0;
		}

		label input:checked + .menu .hamburger:before {
  			transform: rotate(90deg);
  			top: 0;
		}

		label input:checked + .menu + ul {
  			opacity: 1;
		}

		label ul {
  			z-index: 2;
  			position: absolute;
  			top: 50%;
  			left: 50%;
  			transform: translate(-50%, -50%);
  			opacity: 0;
  			transition: 0.25s 0s ease-in-out;
  			list-style: none;
  			text-align: center;
		}

		label a {
  			margin-bottom: 1em;
  			display: block;
  			color: #636363;
  			text-decoration: none;
		}

		label a:hover {
			color: rgba(99, 99, 99, 0.7);
		}

	}

	@media screen and (min-width: 737px) {

		#nav {
			color: #636363;
			position: sticky; /* Permet de garder la Nav Bar en haut de la page quand on scroll */
			top: 0; /* On la garde tout en haut de la page, pas de décalage avec le haut de la fenêtre */
			padding: 0.85em;
			background-color: #f7f7f7;
			border-top-left-radius: 0.25em;
			border-top-right-radius: 0.25em;
			text-align: center;	
		}

		#nav a:hover {
			color: #636363;
		}

		#nav ul {
			margin: 0;
			padding: 0;
		}

		#nav ul li {
			display: inline-block;
			margin: 0 0.35em;
		}

			#nav ul li a {
				display: inline-block;
				line-height: 2.25em;
				padding: 0 1.25em;
				border-radius: 8px;
			}

				#nav ul li a:hover {
					background-color: rgba(222, 222, 222, 0.25);
				}
	
		label {
			display: none; /* On cache le hamburger menu puisqu'on affiche la Nav Bar */
		}

	}

/* Main */

	#main {
		background-color: #ffffff;
		color: #636363;
		border-bottom-left-radius: 0.25em;
		border-bottom-right-radius: 0.25em;
	}

		#main a:hover {
			color: #636363;
		}

		#main h1, #main h2, #main h3 {
			color: #636363;
		}

		#main header.major h2:after {
			background-color: #dddddd;
			background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
		}

			#main table tbody tr:nth-child(2n + 1) {
				background-color: rgba(222, 222, 222, 0.25);
			}

		#main > .main {
			padding: 5em 5em 3em 5em ;
			border-top: solid 1px #dddddd;
		}

			#main > .main:first-child {
				border-top: 0;
			}

		@media screen and (max-width: 1280px) {
			#main > .main {
				padding: 4em 4em 2em 4em ;
			}	
		}

		@media screen and (max-width: 980px) {
			#main > .main {
				padding: 4em 3em 2em 3em ;
			}
		}

		@media screen and (max-width: 736px) {
			#main > .main {
				padding: 3em 2em 1em 2em ;
			}

			#main {
				border-top-left-radius: 0.25em; /* La Nav Bar est cachée, on arrondit les bordures en haut du main (comme avec la Nav Bar quand elle est affichée) */
				border-top-right-radius: 0.25em;
			}
		}

		@media screen and (max-width: 480px) {
			#main > .main {
				padding: 3em 1.5em 1em 1.5em ;
			}
		}

		@media screen and (max-width: 360px) {

			#main > .main {
				padding: 2.5em 1em 0.5em 1em ;
			}
		}

/* Footer */

	#footer {
		display: flex;
		padding: 5em 5em 3em 5em ;
		width: calc(100% + 2em);
		margin: 0 0 3em -2em;
	}

		#footer > * {
			width: calc(50% - 2em);
			margin-left: 2em;
		}

		@media screen and (max-width: 1280px) {
			#footer {
				padding: 4em 4em 2em 4em ;
			}

		}

		@media screen and (max-width: 980px) {
			#footer {
				display: block;
				width: 100%;
			}

				#footer > * {
					width: 100%;
					margin-bottom: 1em;
				}
		}

		@media screen and (max-width: 736px) {
			#footer {
				padding: 3em 2em 1em 2em ;
			}
		}

		@media screen and (max-width: 480px) {

			#footer {
				padding: 3em 1.5em 1em 1.5em ;
			}

		}

		@media screen and (max-width: 480px) {

			#footer {
				padding: 2.5em 1em 0.5em 1em ;
			}

		}

/* Wrapper */
/* Contient tout notre site : permet de fixer une taille comme on le souhaite par exemple entre le main (élément du corps du site en blanc) et les bords de la fenêtre */

	#wrapper {
		width: 64em;
		max-width: calc(100% - 4em);
		margin: 0 auto;
	}

		@media screen and (max-width: 480px) {
			#wrapper {
				max-width: calc(100% - 2em);
			}
		}

		@media screen and (max-width: 360px) {
			#wrapper {
				max-width: 100%;
			}
		}